@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


#spot-m{
    background: rgb(106,0,0);
background: linear-gradient(0deg, rgba(106,0,0,1) 0%, rgba(163,0,0,1) 72%);
opacity: 0.8;
}
#sm-active{
    background: rgb(106,0,0);
background: linear-gradient(0deg, rgba(106,0,0,1) 0%, rgba(163,0,0,1) 72%);

}

#sm-active #spot-card{
    transition: transform 300ms;
    height:30vh;
    display: flex;
    
    
}

#spot-m #spot-card{
    transition: transform 300ms;
    height:25vh;
    display: flex;
   
    
}


#spot .arrow {
  background:transparent;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  transform: scale(2.1);
}

#spot .arrow svg {
  transition: color 300ms;
}

#spot .arrow svg:hover {
  color: #979797;
}

#spot .next {
  right: 0%;
  top: 50%;
}

#spot .prev {
  left: 0%;
  top: 50%;
}

@media screen and (max-width:1000px){
  
  #vids-carousel.slide {
    
    transform: scale(0.4);
    transition: transform 300ms;
    opacity: 0.5;
  }
  
  #vids-carousel .activeSlide {
    transform: scale(1.1);
    opacity: 1;
  }
  
  #vids-carousel .arrow {
    background:transparent;
    position: absolute;
    cursor: pointer;
    z-index: 10;
  }
  
  #vids-carousel .arrow svg {
    transition: color 300ms;
  }
  
  
  
  #vids-carousel .next {
    right: 0%;
    top: 50%;
  }
  
  #vids-carousel .prev {
    left: 0%;
    top: 50%;
  }

}