.home-all p,h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
  }
  

  #background-video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1000;
    }
    .vid-container{
          margin: 1px 0px;
  
    }
  #intro-section-xl p, #ariadne-platform-xl p {
    font-size:19px;
  }
  
  
  /* #intro-section h5{
    font-size:22px;
  } */
 
    
  #modal-small{
    display:none;
  }
   
  
    
    
  
  @media screen and (max-width:1000px){
    #modal-big{
      display:none;
    }
    #modal-small{
      display:block;
    }
  }
  
  
  
  
  
  
  @media screen and (max-width: 760px){
    
    .testimonials{
      padding: 15px 10px;
      
      
      height: 80vh;
      
      width: 100%;
      
    }
    .caro-card.long>p{
      font-size: 15px;
    }
    .caro-card{
      padding: 0 40px;
    }
    
  }
  
  @media screen and (min-width: 1500px){
    .home-all h1{
      font-size:50px;
    }


    #ariadne-platform p{
        font-size:23px;
    }
    #ariadne-platform h1{
      font-size:33px;
  }
  #intro-section p{
    font-size:22px;
  }
  #intro-section h5{
    font-size:22px;
  }
  
  }
  @media screen and (max-width:576px){
    .home-all p{
      font-size: 12px;
    }
    #ariadne-platform-xl p{
      font-size: 12px;
    }
    #intro-section-xl p{
      font-size: 12px;

    }

  }
  
  
  main {
      width: 100%;
      
     
      position: relative;
      
    }
  
  
  .policy-p{
    margin: 10px 30px;
    font-size:medium;
  }
  
  .intro-1{
    padding: 2em 50px;
    padding-bottom: 5px;
    align-items: center;
    
    
  }
  .intro-1 h1{
    text-align: center;
    font-size: 50px;
    
  }
  .intro-1 #title{
    padding: 0px 8rem;
  }
  .intro-1 p{
    padding: 5px 100px;
  }