

.start{
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background-image: url("../../Resources/Photos/Pages/airports.jpg") ;
    background-size: cover;
}


.start>h1{
    color: #fff;
    
    margin-top: -100px;
    text-shadow: 4px 4px #242424;
}
.start>p{
    margin-top: 8px;
    margin-left: 10px;
    width:60%;
    color: #fff;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    
}

.article{
    border-top: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 15px;
    padding: 1rem 1rem 1rem 1rem;
}

.article>p{
    font-weight: normal;
    
}


