.product-main{
    
    min-height: 500px;
    width: 100%;
  
    
    
}
#screen{
    width: 110%;
}

@media screen and(max-width: 900px){
    .product-main img {
        height: 100%;
        width: 50%;
    }

    
}
@media screen and (min-width:1600px){
    .product-main p{
        font-size: 23px;
    }
    .product-main h1{
        font-size: 50px;
    }

}


