* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  'Segoe UI', 'Roboto', 'Oxygen', 'Poppins',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  
  
}